*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
}

nav{
    height : 17vh;
    width:100%;
    /* background-color: rgb(52, 52, 52);  */
}
.upper-nav{
    display: flex;
    height: 70%;
    /* background-color: black; */
}

#college-logo-name{
    display: flex;
    height: 100%;
    width: 45vw;
    /* background-color: aqua; */
    /* justify-content: ; */
    align-items: center;
    
}
#college-logo-name img{
    margin-left:1vw;
    height: 90%;
    width:fit-content;
}
#college-logo-name p{
    color:rgb(1, 1, 1);
    font-size: 2vw;
    font-family:sans-serif;
    
}

#right-section{
    display: flex;
    height: 100%;
    width:55vw;
    /* background-color: blanchedalmond; */
    font-family: sans-serif;
    font-size: 1vw;
    justify-content: space-evenly;
    align-items: center;

}
#right-section button{
    height: 4.5vh;
    width: 7vw;
    font-size: 0.9vw;
    background-color: white;
    /* background: transparent; */
    
    border-radius: 0.5vw;
    border: none;

}

.lower_nav{
    display: flex;
    height: 40%;
    width:100%;
    background-color:black;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
}
.lower_nav h3{
    color: white;
    font-size: 1.2vw;
}

/* --------------------photo-gallery section ------------------*/
.img_gallery{
    margin-top:2vw;
    height: 80vh;
    width: 100%;
    background-color: blanchedalmond;
}
.img_gallery img{
    height: 100%;
    width: 100%;
}


/* --------------------------------------------------------- */

/* ---------------Program-List section --------------------------*/

.programs-list{
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 241, 239);
    /* align-items: center; */
}
.program-heading{
    margin-top: 1vw;
    height:10%;
    width:100%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.program-heading h2{
    /* margin: 2vw; */
    /* background-color: burlywood; */
    /* align-self: center; */
    position: absolute;
    
}
    /* ---------Programs-cards-section-------- */

.program-cards{
    margin-top:2vw;
    height:75%;
    width:100%;
    /* background-color: rgb(191, 237, 139); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Btech-card{
    height:100%;
    width:25%;
    /* background-color: chocolate; */
    border-radius: 1vw;
}
.Btech-card img{
    height: 100%;
    width: 100%;
    border-radius: 1vw;
}

/* ----------------------------------------------------- */

/* -----------------About_Section----------------------- */
.about-akgec{
    height: 70vh;
    width: 100%;
    display: flex;
    /* background-color: aqua; */
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
}


.about-text{
    /* left:40vw; */
    display: flex;
    height:95%;
    width:30%;
    flex-direction: column;
    /* margin-left:2vw; */
    border-radius: 2vw;
    background-color: burlywood ;
    color:white;
    align-items: center;
}
.about-akgec h2{
    margin-top: 2vw;
    font-family: sans-serif;
}
.about-akgec p{
    /* align-self: center; */
    /* justify-content: center; */
    width:95%;
    font-size: 1.5vw;
    margin-top: 5vw;
    text-align: center;
}

.img-container{
    /* position: relative; */
    height: 95%;
    width:60%;
    border-radius: 2vw;
}
.img-container img{
    height: 100%;
    width:100%;
    border-radius: 2vw;
}